
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

@font-face {
    font-family: 'KoPubDotum';
    src: url('../fonts/KoPubDotumBold.eot'),
         url('../fonts/KoPubDotumBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KoPubDotumBold.woff') format('woff'),
         url('../fonts/KoPubDotumBold.ttf') format('truetype'),
         url('KoPubDotumBold.svg#KoPubDotumBold') format('svg');
    font-weight:700;
    font-style:normal;
  }
  
  @font-face {
    font-family: 'KoPubDotum';
    src: url('../fonts/KoPubDotumMedium.eot'),
         url('../fonts/KoPubDotumMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KoPubDotumMedium.woff') format('woff'),
         url('../fonts/KoPubDotumMedium.ttf') format('truetype'),
         url('KoPubDotumMedium.svg#KoPubDotumMedium') format('svg');
    font-weight:500;
    font-style:normal;
  }
  
  @font-face {
    font-family: 'KoPubDotum';
    src: url('../fonts/KoPubDotumLight.eot'),
         url('../fonts/KoPubDotumLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KoPubDotumLight.woff') format('woff'),
         url('../fonts/KoPubDotumLight.ttf') format('truetype'),
         url('KoPubDotumLight.svg#KoPubDotumLight') format('svg');
    font-weight:300;
    font-style:normal;
  }

html,body{min-width:810px;height:100%;font-family:'KoPubDotum';}
ul,li{list-style:none;}

/* 크롬에서만 가능 (스크롤 바 숨기기) */
body::-webkit-scrollbar{display:none;}

.menu_bar_bg{background-color:#ed6b6b;}

/*--------------------header------------------- */
header{width:100%;}
header .nav{position:fixed;z-index:3;width:90%;padding:1.2% 5%;}
header .nav #home{float:left;width:15%;}
header .nav #home img{width:52px;height:52px;}

.nav #search{width:70%;display:inline-block;}
.nav #search ul{width:100%;display:inline-block;}
.nav #search ul li{float:left;display:inline-block;}
.nav #search ul #search_t{width:90%;}
.nav #search ul #search_i{float:right;}
.nav #search ul li span{}
.nav #search ul li #search_text{
    width:100%;height:40px;
    border:0px solid #fff;border-radius:20px 20px 20px 20px;
    box-shadow:5px 5px 5px #c0c0c0 inset;
    outline:none;margin-top:5px;
}
.nav #search ul li #search_img{width:42px;height:42px;margin-top:5px;}
.nav #menu{display:inline-block;float: right;}
.hamburger{}

.s_icon{width:20px;height:20px;}



/********************* section **********************/
section{width:100%;height:100%;font-family:'KoPubDotum'}

/* ----------------- main ----------------- */
section #main{
    width:100%;
    height: 100%;
    /* center */
    display: flex;
    align-items: center;
    justify-content: center;  

    color: #fff;
    background:url('../img/about/a_main_01.png');
    width:100%;min-height:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: inherit;
    background-size:cover;
}
section #main #main_box{position:relative;z-index:1;width:70%;height:60%;background-color:rgba(0, 0, 0, 0.2);padding-left:38px;}
section #main #main_box h1{font-size:40px;line-height:50px;font-weight:700;padding-top:40px;}
section #main #main_box h1 .red{color:#ed6b6b;}
section #main #main_box p{font-size:20px;line-height:36px;font-weight:100;padding-top:84px;}
section #main #main_box h6{font-size:20px;line-height:36px;font-weight:700;}
section #main #main_box h3{position:absolute;bottom:20px;right:20px;}
section #main #main_box h3 img{}

section #main #button{position: absolute;bottom:5%;}

/* --------------- content --------------- */
#content{width:100%;height:100%;}
#content #content_top{padding-top:180px;text-align:center;}
#content #content_top h1{font-size:32px;line-height:36px;font-weight:700;}
.bar{
    display: block;margin-left: auto;margin-right: auto;margin-top: 24px;
    font-size:0;color:transparent;text-indent:-9999px;
    display: block; width: 40px;height: 4px;
    background-color: #000;
}

#content #content_bottom{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;  
}

#content #analysis{
    text-align:center;
    margin-left:auto;margin-right:auto;
}
#content #analysis .row_bar{
    display:block;margin-left:auto;margin-right:auto;
    font-size:0;color:transparent;text-indent:-9999px;
    width:4px;height:40px;
    background-color:#ed6b6b;
}
#content #analysis h6{
    border:3px solid #ed6b6b;display:inline-block;
    border-radius:20px;
    padding:10px 30px 6px 30px;
}
#content #analysis a:link{text-decoration:none;color:#e79884;}
#content #analysis a:visited{text-decoration:none;color:#e79884;}
#content #analysis a:hover{}
#content #analysis a:active{}
.name{
    margin-top:66px;
    margin-right:70px;
}
.name:nth-of-type(3){margin-right:0;}
.name h2{
    font-family:'Roboto', sans-serif;font-weight:500;
    font-size:30px;line-height:36px;color:#eaeaea;
    padding-bottom:24px;
}
.name img{
    padding-top:50px;padding-bottom:10px;
    width:194px;height:120px;
}
.name h1{
    font-family:'Roboto', sans-serif;font-weight:600;padding-top:5px;
    font-size:30px;line-height:36px;color:#ffd259;
}
.name p{
    font-size:17px;line-height:30px;color:#000;
    padding-bottom:50px;padding-top:28px;
    font-weight:500;
}

#content #content_box01{width:252px;height:346px;}

#content #content_box02{width:252px;height:346px;background-color:#ed6b6b;border:0;border-radius:20px;}
#content #content_box02 p{color:#fff;}

#content #content_box03{width:252px;height:346px;}

/* --------------- process --------------- */
#process{background-color:#f3f3f3;height:1400px;}
#process #process_top{
    padding-top:116px;
    text-align:center; 
}
#process #process_top h1{font-size:32px;line-height:36px;}
#process #process_top .bar{}
#process #process_bottom{margin-top:100px;}
#process #process_bottom .process-step{position:relative;width:800px;margin:0 auto;}
#process #process_bottom .process-step .step{position:relative;}
#process #process_bottom #step-1{display:inline-block;width:370px;text-align:right;float:left;}
.step-item_b_{margin-right:30px;}
.step-item_t_{margin-left:30px;}
.title{font-family:'Roboto', sans-serif;font-style:italic;font-weight:600;font-size:30px;line-height:36px;color:#ed6b6b;}
.desc{font-size:24px;font-weight:500;line-height:36px;color:#ed6b6b;}
#process #process_bottom #step-2{display:inline-block;width:370px;margin-top:230px;}
#process #process_bottom #step-3{display:inline-block;width:370px;text-align:right;float:left;margin-top:200px;}
#process #process_bottom #step-4{display:inline-block;width:370px;margin-top:458px;}

#process .process-step .process_bar{position:absolute;width:30px;left:385px;top:0;}
#process .process-step .process_bar span.line{display:inline-block;position:absolute;width:4px;height:700px;background-color:#ed6b6b;margin-left:13px;}
#process .process-step .process_bar span.line_2{display:inline-block;position:absolute;width:4px;height:320px;background:linear-gradient(to top, #ffd259, #ed6b6b);margin-left:13px;top:700px;}
#process .process-step .process_bar ul{}
#process .process-step .process_bar ul li{display:inline-block;position:relative;width:30px;margin-bottom:250px;}
#process .process-step .process_bar b{display:inline-block;position:absolute;border:0px solid #ed6b6b;border-radius:50%;width:30px;height:30px;background-color:#ed6b6b;left:0px;}
#process .process-step .process_bar #c-5{border:0px solid #ffd259;border-radius:50%;width:20px;height:20px;background-color:#ffd259;margin-left:5px;}
#process .process-step .process_bar ul li:nth-of-type(5){width: 15px;}

/* ----------------foot-------------- */
#foot{background-color:#f3f3f3;height: 200px;}
#foot h1{font-size:30px;color:#ed6b6b;text-align: center;}
#foot a{
    margin-top: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;  
    
}
#foot a:link{color:#fff;text-decoration:none;}
#foot a:visited{color:#fff;}
#foot a h6{
    display:inline-block;
    border-radius:20px;font-size:18px;
    padding:9px 38px 9px 38px;
    background:linear-gradient(to right, #ffd259, #ed6b6b);
    font-weight:100;
}


/* media query */
/* 13인치 모니터 */
@media screen and (max-width:1280px){
    header .nav #home img{width:42px;height:42px;}
    .nav #search ul li #search_text{height:32px;}
    .nav #search ul li #search_img{width:32px;height:32px;}
    #btn_img{width:32px;height:32px;float:right;}


    #content #content_top{padding-top:150px;}
    .name{margin-top:33px;}

    
}

/* HP 모니터 */
@media screen and (min-width:1680px){
    #content #content_top{padding-top:250px;text-align:center;}
}


/* 갤럭시  s6,노트 4,노트 5 */
@media screen and (max-width:720px){
    html,body{min-width:800px;}
}

/* 아이폰 6 */
@media screen and (max-width:375px){
    /* html,body{min-width:800px;} */
}